.h5p-questionnaire-progress-bar-widget {
  position: absolute;
  right: 1em;
  top: calc(50% - 0.1em);
  transform: translateY(-50%);
  width: 3.5em;
  height: 3em;
  line-height: 3em;
  background-color: #FFF;
  text-align: center;
  border-radius: 0.2em;
}

.h5p-questionnaire-progress-bar-widget:before {
  position: absolute;
  width: 60%;
  height: 0;
  content: ' ';
  bottom: -0.55em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.h5p-questionnaire-progress-bar-widget-current,
.h5p-questionnaire-progress-bar-widget-separator,
.h5p-questionnaire-progress-bar-widget-max {
  display: inline-block;
  color: #8c8c8c;
  font-weight: 600;
}

.h5p-questionnaire-progress-bar-widget-separator {
  font-size: 0.85em;
  margin: 0 0.15em 0.2em 0.1em;
  vertical-align: middle;
}

.h5p-questionnaire-progress-bar-widget-current {
  color: #ff6b00;
}
