.h5p-questionnaire-element .h5p-subcontent-question {
  position: relative;
  padding: 1.5em 5em 1.5em 1em;
  word-wrap: break-word;
}

.h5p-questionnaire-element.h5p-questionnaire-required .h5p-subcontent-question {
  padding: 0.5em 5em 1em 1em;
}

.h5p-questionnaire-required-symbol {
  background: #2880d0;
  padding-bottom: 0.5em;
  color: rgba(255,255,255,0.6);
  font-size: 0.75em;
}

.h5p-questionnaire-element .h5p-subcontent-body {
  font-size: 0.9em;
}
