.h5p-questionnaire-choice-required {
  position: relative;
  background-color: #eb0000;
  color: #FFF;
  padding: 0 2em 0 1em;
}

.h5p-questionnaire-choice-required.hide {
  display: none;
}

.h5p-questionnaire-choice-required-message {
  font-size: 0.9em;
  display: inline-block;
}

.h5p-questionnaire-choice-required-exit {
  display: inline-block;
  position: absolute;
  right: 1em;
  top: 0.35em;
  border: none;
  background: none;
  cursor: pointer;
}

.h5p-questionnaire-choice-required-exit:before {
  font-family: "H5PFontAwesome4";
  content: "\f00d";
  color: #FFF;
  font-weight: 800;
}


