.h5p-questionnaire-success {
  height: 100%;
  display: flex;
  text-align: center;
  padding: 2em;
  box-sizing: border-box;
}

.h5p-questionnaire-success.hide {
  display: none;
}

.h5p-questionnaire-success-icon {
  padding: 1em 0;
}

.h5p-questionnaire-success-icon.image > img {
  width: auto !important;
  height: auto !important;
  max-width: 500px;
  max-height: 10em;
  margin: auto;
}

.h5p-questionnaire-success-icon.standard-icon:before {
  font-family: "H5PFontAwesome4";
  font-size: 5em;
  color: rgba(22, 235, 0, 1);
  content: '\f00c';
}

.h5p-questionnaire-success-message {
  padding: 1em 0;
  font-size: 1.5em;
  word-wrap: break-word;
}

.h5p-questionnaire-success-center {
  margin: auto;
}
