.h5p-questionnaire-success {
  color: #fff;
  background: #2880d0;
  height: 100%;
  display: flex;
  text-align: center;
  padding: 5em 2em 4em 2em;
  box-sizing: border-box;
}

.h5p-questionnaire-success:focus {
  outline: none;
}

.h5p-questionnaire-success-icon.image > img {
  width: auto !important;
  height: auto !important;
  max-width: 500px;
  max-height: 10em;
  margin: auto;
}

.h5p-questionnaire-success-icon.standard-icon:before {
  font-family: "H5PFontAwesome4";
  font-size: 3em;
  content: '\f00c';
}

.h5p-questionnaire-success-message {
  margin: 1.5em 0 1em 0;
  font-size: 1.485em;
  word-wrap: break-word;
}

.h5p-questionnaire-success-center {
  margin: auto;
}
